extends ../shared/template

block content
  #aboutwrap
    .container
        .row
          .col-lg-6.col-lg-offset-3
            h1.about About

  .container
    .row.centered.mt.mb
      .col-lg-8.col-lg-offset-2
        h2.about Matt Spell
        p
          | I am currently a student at the Nashville Software School learning web developing. Check out some of my projects on the portfolio page.
        p
          | Some of the languages I'm using are JavaScript, jQuery, Git, Node.js, Mongo DB, Object-Oriented Programming and Test-Driven Development. I'm currently learning Angular.js and Ruby/Rails.
        p
          | Thanks for stopping by and feel free to contact me at the links below.
